Weigou.Common/Web References/WeicheSms/Soap57Provider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:suds="http://www.w3.org/2000/wsdl/suds" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps/soaps" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull" xmlns:ns2="http://schemas.microsoft.com/clr/nsassem/weblib/weblib%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull" xmlns:ns1="http://schemas.microsoft.com/clr/ns/System" xmlns:ns0="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps/soaps" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Soap57Provider" targetNamespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps/soaps" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps/soaps">
      <xsd:complexType name="ArrayOfString">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull">
      <xsd:complexType name="ArrayOfString">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Soap57Provider.SubmitInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="accessCode" type="xsd:string" />
    <wsdl:part name="content" type="xsd:string" />
    <wsdl:part name="mobileString" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.SubmitOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.QueryReportInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.QueryReportOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.InitializeLifetimeServiceInput" />
  <wsdl:message name="Soap57Provider.InitializeLifetimeServiceOutput">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.RetrieveAllInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.RetrieveAllOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.BatchSubmitInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="accessCode" type="xsd:string" />
    <wsdl:part name="mobileContentArray" type="ns0:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.BatchSubmitOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.QueryMoInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Soap57Provider.QueryMoOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ISoap57.QueryMoInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ISoap57.QueryMoOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ISoap57.QueryReportInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ISoap57.QueryReportOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ISoap57.RetrieveAllInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ISoap57.RetrieveAllOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ISoap57.SubmitInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="accessCode" type="xsd:string" />
    <wsdl:part name="content" type="xsd:string" />
    <wsdl:part name="mobileString" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ISoap57.SubmitOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ISoap57.BatchSubmitInput">
    <wsdl:part name="spID" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="accessCode" type="xsd:string" />
    <wsdl:part name="mobileContentArray" type="ns3:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="ISoap57.BatchSubmitOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="Soap57ProviderPortType">
    <wsdl:operation name="Submit" parameterOrder="spID password accessCode content mobileString">
      <wsdl:input name="SubmitRequest" message="ns0:Soap57Provider.SubmitInput" />
      <wsdl:output name="SubmitResponse" message="ns0:Soap57Provider.SubmitOutput" />
    </wsdl:operation>
    <wsdl:operation name="QueryReport" parameterOrder="spID password">
      <wsdl:input name="QueryReportRequest" message="ns0:Soap57Provider.QueryReportInput" />
      <wsdl:output name="QueryReportResponse" message="ns0:Soap57Provider.QueryReportOutput" />
    </wsdl:operation>
    <wsdl:operation name="InitializeLifetimeService">
      <wsdl:input name="InitializeLifetimeServiceRequest" message="ns0:Soap57Provider.InitializeLifetimeServiceInput" />
      <wsdl:output name="InitializeLifetimeServiceResponse" message="ns0:Soap57Provider.InitializeLifetimeServiceOutput" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll" parameterOrder="spID password">
      <wsdl:input name="RetrieveAllRequest" message="ns0:Soap57Provider.RetrieveAllInput" />
      <wsdl:output name="RetrieveAllResponse" message="ns0:Soap57Provider.RetrieveAllOutput" />
    </wsdl:operation>
    <wsdl:operation name="BatchSubmit" parameterOrder="spID password accessCode mobileContentArray">
      <wsdl:input name="BatchSubmitRequest" message="ns0:Soap57Provider.BatchSubmitInput" />
      <wsdl:output name="BatchSubmitResponse" message="ns0:Soap57Provider.BatchSubmitOutput" />
    </wsdl:operation>
    <wsdl:operation name="QueryMo" parameterOrder="spID password">
      <wsdl:input name="QueryMoRequest" message="ns0:Soap57Provider.QueryMoInput" />
      <wsdl:output name="QueryMoResponse" message="ns0:Soap57Provider.QueryMoOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISoap57PortType">
    <wsdl:operation name="QueryMo" parameterOrder="spID password">
      <wsdl:input name="QueryMoRequest" message="ns0:ISoap57.QueryMoInput" />
      <wsdl:output name="QueryMoResponse" message="ns0:ISoap57.QueryMoOutput" />
    </wsdl:operation>
    <wsdl:operation name="QueryReport" parameterOrder="spID password">
      <wsdl:input name="QueryReportRequest" message="ns0:ISoap57.QueryReportInput" />
      <wsdl:output name="QueryReportResponse" message="ns0:ISoap57.QueryReportOutput" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll" parameterOrder="spID password">
      <wsdl:input name="RetrieveAllRequest" message="ns0:ISoap57.RetrieveAllInput" />
      <wsdl:output name="RetrieveAllResponse" message="ns0:ISoap57.RetrieveAllOutput" />
    </wsdl:operation>
    <wsdl:operation name="Submit" parameterOrder="spID password accessCode content mobileString">
      <wsdl:input name="SubmitRequest" message="ns0:ISoap57.SubmitInput" />
      <wsdl:output name="SubmitResponse" message="ns0:ISoap57.SubmitOutput" />
    </wsdl:operation>
    <wsdl:operation name="BatchSubmit" parameterOrder="spID password accessCode mobileContentArray">
      <wsdl:input name="BatchSubmitRequest" message="ns0:ISoap57.BatchSubmitInput" />
      <wsdl:output name="BatchSubmitResponse" message="ns0:ISoap57.BatchSubmitOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Soap57ProviderBinding" type="ns0:Soap57ProviderPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <suds:class type="ns0:Soap57Provider" rootType="MarshalByRefObject">
      <suds:implements type="ns2:ISoap57" />
    </suds:class>
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps#Submit" />
      <suds:method attributes="public virtual" />
      <wsdl:input name="SubmitRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="SubmitResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryReport">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps#QueryReport" />
      <suds:method attributes="public virtual" />
      <wsdl:input name="QueryReportRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="QueryReportResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeLifetimeService">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps#InitializeLifetimeService" />
      <suds:method attributes="public virtual" />
      <wsdl:input name="InitializeLifetimeServiceRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="InitializeLifetimeServiceResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps#RetrieveAll" />
      <suds:method attributes="public virtual" />
      <wsdl:input name="RetrieveAllRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RetrieveAllResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchSubmit">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps#BatchSubmit" />
      <suds:method attributes="public virtual" />
      <wsdl:input name="BatchSubmitRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="BatchSubmitResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMo">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps#QueryMo" />
      <suds:method attributes="public virtual" />
      <wsdl:input name="QueryMoRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="QueryMoResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/com.softwee.smgw.soaps.Soap57Provider/soaps" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISoap57Binding" type="ns0:ISoap57PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <suds:interface type="ns2:ISoap57">
    </suds:interface>
    <wsdl:operation name="QueryMo">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib#QueryMo" />
      <wsdl:input name="QueryMoRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="QueryMoResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryReport">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib#QueryReport" />
      <wsdl:input name="QueryReportRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="QueryReportResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib#RetrieveAll" />
      <wsdl:input name="RetrieveAllRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RetrieveAllResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib#Submit" />
      <wsdl:input name="SubmitRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="SubmitResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchSubmit">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib#BatchSubmit" />
      <wsdl:input name="BatchSubmitRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="BatchSubmitResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/weblib.ISoap57/weblib" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Soap57ProviderService">
    <wsdl:port name="Soap57ProviderPort" binding="ns0:Soap57ProviderBinding">
      <soap:address location="http://113.105.65.138:7801/sms" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>